{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <a class="btn btn-danger" href={{ path('security_examples_xss', {'date-from': '2018-10-08', 'date-to': '2019-08-20<script>alert(true);</script>'}) }}>
    <i class="material-icons">
      whatshot
    </i>
    Exploit
  </a>

  <form action="{{ path('security_examples_xss') }}" method="GET">
    <div class="form-group">
      <label for="date-from">Date from</label>
			<input type="text" class="datepicker input-medium" name="date-from" id="date-from" />
    </div>
    <div class="form-group">
      <label for="date-from">Date To</label>
			<input type="text" class="datepicker input-medium" name="date-to" id="date-to" />
    </div>

    <button type="submit" class="btn btn-primary">Find</button>
  </form>

  {% if orders is not empty %}
    <p>{{ ('Date from <strong>' ~ dateFrom ~ '</strong> to <strong>' ~ dateTo ~ '</strong>') | raw }}</p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Reference</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <th scope="row">{{ order.id_order }}</th>
            <td>{{ order.reference }}</td>
            <td>{{ order.date_add }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
    $(document).ready(function() {
      /** Attach date picker */
      $('.datepicker').datetimepicker({
        locale: 'en',
        format: 'YYYY-MM-DD'
      });
    });
  </script>
{% endblock %}
